body {
    background-image: url("https://i.pinimg.com/originals/d9/07/cb/d907cbcfa2c3b1e55ba04455d74c1d05.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: goldenrod;
    text-shadow: 1px 1px 3px teal;
    font-family: 'Rowdies', cursive;
    font-weight: bold;
    text-align: center;
    height: 100vh;
    margin-top: 20%;
    
    
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    
    
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid goldenrod;
    font-family: 'Rowdies', cursive;
}

#increment-btn {
    background: darkred;
    font-family: 'Rowdies', cursive;
    text-shadow: 1px 1px 3px darkmagenta;
}

#save-btn {
    background: darkgreen;
    font-family: 'Rowdies', cursive;
    text-shadow: 1px 1px 3px darkmagenta;
}

#counter {
    
    background: transparent;
    max-width: 40%;
    margin: auto;
    border: 2px groove goldenrod;
    border-radius: 10px;
}

#save-el {
    font-size: 22px;
}
